@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.box_L::before{
  content: ' ';
  position: relative;
  color: white;
  top: 100%;
  left: -60px; 
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.line:nth-of-type(3) {
  display: none;
}